Repository mishelen/add-up-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,js}": ["eslint --fix", "git add"],
  "*.{json,md,yaml,yml,lintstagedrc,eslintrc}": ["prettier --write", "git add"]
}

add buildspecs
  buildspec-pr.yml
  buildspec.yml
Due: prettier --write

update build
  buildspec.yml
  package.json
Due: prettier --write

add route for health check
  src/routes.ts
Due: eslint --fix

update buildspec -- add other artifacts
  buildspec.yml
Due: prettier --write

add appspec.yml
  appspec.yml
  scripts/before-install.sh
  scripts/health-check.sh
  scripts/start.sh
Due: prettier --write

add scripts to buildspec.yml
  buildspec.yml
Due: prettier --write

fix: run all scripts as root
  appspec.yml
Due: prettier --write

fix: node location
  scripts/before-install.sh
  scripts/start.sh
Due: none

move installation to home
  scripts/before-install.sh
Due: none

fix scripts
  scripts/before-install.sh
  scripts/start.sh
Due: none

fix nvm dir and run as ec2 user
  appspec.yml
  scripts/before-install.sh
Due: prettier --write

update installation
  appspec.yml
  scripts/before-install.sh
Due: prettier --write

update scripts
  appspec.yml
  scripts/before-install.sh
Due: prettier --write

fix start script
  scripts/start.sh
Due: none
